<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script defer src="/assets/functions.js"></script>
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" href="/assets/logo.png" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title><%=business[0].businessName%></title>
  </head>
  <body>
    <div id="navBar"></div>
    <h1><%=business[0].businessName%></h1>

    <form
      id="generalData"
      class="addUserForm"
      action="/saveGeneralData"
      method="post"
    >
      <h2>Datos Generales</h2>
      <div class="editButtons">
        <button
          type="button"
          class="edit"
          id="editGeneralData"
          onclick="editGeneralDataDiv()"
        >
          <i class="material-icons" style="font-size: 2rem">mode_edit</i>
        </button>
      </div>
      <div class="contentBackground">
        <div class="row">
          <div class="col-md-4">
            <label for="">Nombre de la sociedad</label>
            <input
              id="businessName"
              type="text"
              class="form-control"
              name="businessName"
              placeholder="Nombre de la sociedad"
              value="<%=business[0].businessName%>"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="">Cedula Juridica</label>
            <input
              name="businessID2"
              type="hidden"
              value="<%=business[0].businessID%>"
            />
            <input
              id="businessID"
              type="number"
              class="form-control"
              name="businessID"
              placeholder="Cedula Juridica"
              value="<%=business[0].businessID%>"
              readonly
            />
          </div>
        </div>
      </div>
    </form>
    <form
      id="ownerData"
      class="addUserForm"
      action="/saveOwnerData"
      method="post"
    >
      <h2>Representante Legal</h2>
      <div class="editButtons">
        <button
          type="button"
          class="edit editOwner"
          id="editOwner"
          onclick="editOwnerData()"
        >
          <i class="material-icons" style="font-size: 2rem">mode_edit</i>
        </button>
      </div>
      <div class="contentBackground">
        <% var i=1; owner.forEach(function(data){%>
        <div id="ownerDIV1">
          <div class="row">
            <div class="col-md-4">
              <label for="">Nombre del Representante</label>
              <input
                type="text"
                class="form-control businessOwnerName"
                name="businessOwnerName"
                placeholder="Nombre del Representante"
                value="<%=data.nameLegal%>"
                readonly
              />
            </div>
            <div class="col-md-4">
              <label for="">Cedula del Representante</label>
              <input
                type="text"
                class="form-control businessOwnerID"
                name="businessOwnerID"
                value="<%=data.idLegal%>"
                placeholder="Cedula del Representante"
                readonly
              />
            </div>
            <div class="col-md-4">
              <label for="">Fecha de expiracion de la Cedula</label>
              <input
                type="date"
                class="form-control ownerIDExpDate"
                name="ownerIDExpDate"
                value="<%=data.dateIdExpiration%>"
                placeholder="Fecha de expiracion de la Cedula"
                readonly
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label for="">Fecha de nacimiento</label>
              <input
                type="date"
                class="form-control ownerBirDate"
                name="ownerBirDate"
                value="<%=data.dateBirthLegal%>"
                placeholder="Fecha de nacimiento"
                readonly
              />
            </div>
            <div class="col-md-4">
              <label for="">Domicilio</label>
              <input
                type="text"
                class="form-control ownerAddress"
                name="ownerAddress"
                value="<%=data.address%>"
                placeholder="Domicilio"
                readonly
              />
            </div>
          </div>
        </div>
        <% i++; }) %>
      </div>
    </form>
    <form
      id="accountData"
      class="addUserForm"
      action="/saveAccountsData"
      method="post"
    >
      <h2>Datos contables</h2>
      <input
        name="businessID"
        type="hidden"
        value="<%=business[0].businessID%>"
      />
      <div class="editButtons">
        <button
          type="button"
          class="edit editAccountData"
          id="editAccountData"
          onclick="editAccountsData()"
        >
          <i class="material-icons" style="font-size: 36px">mode_edit</i>
        </button>
      </div>
      <div class="contentBackground">
        <div class="row">
          <div class="col-md-6">
            <label for="">Usuario ATV</label>
            <input
              type="text"
              class="form-control"
              id="atvUser"
              name="atvUser"
              placeholder="Usuario ATV"
              value="<%=business[0].atvUser%>"
              readonly
            />
          </div>
          <div class="col-md-6">
            <label for="">Contraseña ATV</label>
            <input
              type="text"
              class="form-control"
              id="atvPassword"
              name="atvPassword"
              placeholder="Contraseña ATV"
              value="<%=business[0].atvPassword%>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Sistema de Facturacion</label>
            <input
              type="text"
              class="form-control"
              id="billSystem"
              name="billSystem"
              placeholder="Sistema de Facturacion"
              value="<%=business[0].billSystem%>"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="">Usuario del Sistema de Facturacion</label>
            <input
              type="text"
              class="form-control"
              id="billSystemUser"
              name="billSystemUser"
              placeholder="Usuario del Sistema de Facturacion"
              value="<%=business[0].billSystemUser%>"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="">Contraseña del Sistema de Facturacion</label>
            <input
              type="text"
              class="form-control"
              id="billSystemPassword"
              name="billSystemPassword"
              placeholder="Contraseña del Sistema de Facturacion"
              value="<%=business[0].billSystemPassword%>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Correo para recepcion de Facturas</label>
            <input
              type="text"
              class="form-control"
              id="billEmail"
              name="billEmail"
              placeholder="Correo para recepcion de Facturas"
              value="<%=business[0].billEmail%>"
              readonly
            />
          </div>
          <div class="col-md-6">
            <label for=""
              >Contraseña del Correo para recepcion de Facturas</label
            >
            <input
              type="text"
              class="form-control"
              id="billEmailPassword"
              name="billEmailPassword"
              placeholder="Contraseña del Correo para recepcion de Facturas"
              value="<%=business[0].billEmailPassword%>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Usuario Travi</label>
            <input
              type="text"
              class="form-control"
              id="traviUser"
              name="traviUser"
              placeholder="Usuario Travi"
              value="<%=business[0].traviUser%>"
              readonly
            />
          </div>
          <div class="col-md-6">
            <label for="">Contraseña Travi</label>
            <input
              type="text"
              class="form-control"
              id="traviPassword"
              name="traviPassword"
              placeholder="Contraseña Travi"
              value="<%=business[0].traviPassword%>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Usuario CCSS</label>
            <input
              type="text"
              class="form-control"
              id="ccssUser"
              name="ccssUser"
              placeholder="Usuario CCSS"
              value="<%=business[0].ccssUser%>"
              readonly
            />
          </div>
          <div class="col-md-6">
            <label for="">Contraseña CCSS</label>
            <input
              type="text"
              class="form-control"
              id="ccssPassword"
              name="ccssPassword"
              placeholder="Contraseña CCSS"
              value="<%=business[0].ccssPassword%>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Usuario INS</label>
            <input
              type="text"
              class="form-control"
              id="insUser"
              name="insUser"
              placeholder="Usuario INS"
              value="<%=business[0].insUser%>"
              readonly
            />
          </div>
          <div class="col-md-6">
            <label for="">Contraseña INS</label>
            <input
              type="text"
              class="form-control"
              id="insPassword"
              name="insPassword"
              placeholder="Contraseña INS"
              value="<%=business[0].insPassword%>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label for="">Agente encargado*</label>
            <input
              name="userCharge"
              id="userCharge"
              class="form-control"
              list="datalistOptions"
              value="<%=user[0].userName%>"
              id="exampleDataList"
              autocomplete="off"
              readonly
            />
            <datalist id="datalistOptions">
              <% var p=0; totalUsers.forEach(function(totalUsersData){ %>
              <option value="<%=totalUsersData.id%>">
                <%=totalUsersData.userName%>
              </option>
              <% p++; }) %>
            </datalist>
          </div>
        </div>
      </div>
    </form>
    <form
      id="businessActivity"
      class="addUserForm"
      action="/saveBusinessActivity"
      method="post"
    >
      <h2>Actividad Económica</h2>
      <input
        name="businessID"
        type="hidden"
        value="<%=business[0].businessID%>"
      />
      <div class="editButtons">
        <button
          type="button"
          class="edit editActivity"
          id="editActivity"
          onclick="editBusinessActivity()"
        >
          <i class="editIcon material-icons" style="font-size: 2rem"
            >mode_edit</i
          >
        </button>
      </div>
      <div class="contentBackground">
        <div id="activityDIV">
          <% var e=0; activity.forEach(function(activityData){ %>
          <div class="row" id="<%=activityData.businessActivityID%>">
            <div class="col-md-6">
              <input
                name="businessCurrentActivities"
                id="businessActivity"
                class="form-control"
                list="datalistActivities"
                autocomplete="off"
                value="<%=activityData.activityName%>"
                readonly
              />
              <datalist id="datalistActivities">
                <option value="<%=activityData.activityID%>" selected>
                  <%=activityData.activityName%>
                </option>
                <% var n=0; totalActivity.forEach(function(totalActivityData){
                %>
                <option value="<%=totalActivityData.id%>">
                  <%=totalActivityData.activityName%>
                </option>
                <% n++; }) %>
              </datalist>
            </div>
            <div class="col-md-6">
              <div class="divDeleteButton">
                <button
                  type="button"
                  class="edit deleteButton"
                  id="deleteButton"
                  onclick="deleteActivityAjx('<%=business[0].businessID%>','<%=activityData.activityID%>','<%=activityData.businessActivityID%>')"
                >
                  <i class="editIcon material-icons" style="font-size: 2rem"
                    >clear</i
                  >
                </button>
              </div>
            </div>
          </div>
          <% e++; }) %>
        </div>
        <div id="addActivity">
          <div id="activityDIV1" class="editAddActivity">
            <div class="row activityFrRow1" id="activityFrRow1">
              <div class="col-md-6">
                <input
                  name="businessNewActivities"
                  class="form-control"
                  list="datalistActivities"
                  id="exampleDataList"
                  autocomplete="off"
                />
                <datalist id="datalistActivities">
                  <% var n=0; totalActivity.forEach(function(totalActivityData){
                  %>
                  <option value="<%=totalActivityData.id%>">
                    <%=totalActivityData.activityName%>
                  </option>
                  <% n++; }) %>
                </datalist>
              </div>
            </div>
            <div class="row" id="activitySecRow">
              <div class="col-md-6" id="activityDeleteButtonInput"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form id="tivData" class="addUserForm" action="/saveTivData" method="post">
      <h2>TIV</h2>
      <input
        name="businessID"
        type="hidden"
        value="<%=business[0].businessID%>"
      />
      <div class="editButtons">
        <button
          type="button"
          class="edit editTIV"
          id="editTIV"
          onclick="editBusinessTivData()"
        >
          <i class="material-icons" style="font-size: 2rem">mode_edit</i>
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered tiv">
          <tr>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
            <th scope="col">I</th>
            <th scope="col">J</th>
            <th scope="col">K</th>
            <th scope="col">L</th>
            <th scope="col">M</th>
            <th scope="col">N</th>
            <th scope="col">O</th>
          </tr>
          <tr>
            <th>
              <input
                size="1"
                type="text"
                id="a"
                name="a"
                value="<%=business[0].TIV.charAt(0)%><%=business[0].TIV.charAt(1)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="b"
                name="b"
                value="<%=business[0].TIV.charAt(3)%><%=business[0].TIV.charAt(4)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="c"
                name="c"
                value="<%=business[0].TIV.charAt(6)%><%=business[0].TIV.charAt(7)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="d"
                name="d"
                value="<%=business[0].TIV.charAt(9)%><%=business[0].TIV.charAt(10)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="e"
                name="e"
                value="<%=business[0].TIV.charAt(12)%><%=business[0].TIV.charAt(13)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="f"
                name="f"
                value="<%=business[0].TIV.charAt(15)%><%=business[0].TIV.charAt(16)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="g"
                name="g"
                value="<%=business[0].TIV.charAt(18)%><%=business[0].TIV.charAt(19)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="h"
                name="h"
                value="<%=business[0].TIV.charAt(21)%><%=business[0].TIV.charAt(22)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="i"
                name="i"
                value="<%=business[0].TIV.charAt(24)%><%=business[0].TIV.charAt(25)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="j"
                name="j"
                value="<%=business[0].TIV.charAt(27)%><%=business[0].TIV.charAt(28)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="k"
                name="k"
                value="<%=business[0].TIV.charAt(30)%><%=business[0].TIV.charAt(31)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="l"
                name="l"
                value="<%=business[0].TIV.charAt(33)%><%=business[0].TIV.charAt(34)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="m"
                name="m"
                value="<%=business[0].TIV.charAt(36)%><%=business[0].TIV.charAt(37)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="n"
                name="n"
                value="<%=business[0].TIV.charAt(39)%><%=business[0].TIV.charAt(40)%>"
                readonly
              />
            </th>
            <th>
              <input
                size="1"
                type="text"
                id="o"
                name="o"
                value="<%=business[0].TIV.charAt(42)%><%=business[0].TIV.charAt(43)%>"
                readonly
              />
            </th>
          </tr>
        </table>
      </div>
      <h2>Logo</h2>
      <div class="contentBackground">
        <div class="row">
          <div class="col-md-6">
            <input type="file" class="form-control" name="picture" />
          </div>
        </div>
      </div>
    </form>
    <form
      id="userData"
      class="addUserForm"
      action="/saveUserData"
      method="post"
    >
      <h2>Contacto</h2>
      <div class="editButtons">
        <button
          type="button"
          class="edit"
          id="editContactsData"
          onclick="editContactData()"
        >
          <i class="material-icons" style="font-size: 2rem">mode_edit</i>
        </button>
      </div>
      <div class="contentBackground">
        <% var p=0; contact.forEach(function(contactData){ %>
        <div id="contact">
          <div id="contactDIV1">
            <div class="row">
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  id="contactName"
                  name="contactName"
                  placeholder="Nombre"
                  value="<%=contactData.contactName%>"
                  readonly
                />
              </div>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  \
                  id="contactPhone"
                  name="contactPhone"
                  placeholder="Numero Telefonico"
                  value="<%=contactData.contactPhone%>"
                  readonly
                />
              </div>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  id="contactEmail"
                  name="contactEmail"
                  placeholder="Correo electronico"
                  value="<%=contactData.contactEmail%>"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
        <% p++; }) %>
      </div>
    </form>
    <div
      class="modal fade"
      id="businessModal"
      tabindex="-1"
      aria-labelledby="businessModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="businessModalTitle">Mensaje:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="businessModalMessage"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Entiendo
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var i = 1;
    var j = 1;
    var z = 1;
    var newOwnerCount = 1;
    var newContactCount = 1;
    var newActivityCount = 1;

    window.addEventListener("load", (event) => {
      $("#navBar").load("/assets/navbar.html");
    });
  </script>
</html>
