<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script defer src="/assets/functions.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" href="/assets/logo.png" />
    <title><%=userInfo[0].userName%></title>
  </head>

  <body>
    <div id="navBar"></div>
    <h1><%=userInfo[0].userName%></h1>
    <div class="contentBackground">
      <h2>Datos personales</h2>
      <form class="addUserForm" action="/saveUser" method="post">
        <input name="userID" type="hidden" value="<%=userInfo[0].id%>" />
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="inputUserName"
              id="inputUserName"
              placeholder="Nombre"
              value="<%=userInfo[0].userName%>"
              readonly
            />
            <label for="inputUserName">Nombre</label>
          </div>

          <div class="col-md-4 form-floating">
            <input
              type="email"
              class="form-control"
              name="inputUserEmail"
              id="inputUserEmail"
              placeholder="Email"
              value="<%=userInfo[0].userEmail%>"
              readonly
            />
            <label for="inputUserEmail">Correo Electronico</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="number"
              class="form-control"
              name="inputPhone"
              id="inputPhone"
              placeholder="Numero Telefonico"
              value="<%=userInfo[0].userPhone%>"
              readonly
            />
            <label for="inputPhone">Numero Telefonico</label>
          </div>
        </div>
        <button
          name="editUser"
          id="editUser"
          type="button"
          onclick="editOneUser()"
          class="btn btn btn-dark col-md-12"
        >
          Editar Usuario
        </button>
      </form>
    </div>
    <script>
      var i = 1;
      $(document).ready(function () {
        $("#navBar").load("/navbar");
      });
    </script>
  </body>
</html>
