<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script defer src="/assets/functions.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" href="/assets/logo.png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.js"
    ></script>
    <title>Usuarios</title>
  </head>

  <body>
    <div id="navBar"></div>
    <h1>Usuarios</h1>
    <div class="contentBackground">
      <div class="table-responsive">
        <table
          id="table"
          class="table table-light table-striped table-bordered table-hover"
        >
          <thead class="table-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Numero de telefono</th>
              <th scope="col">Correo electronico</th>
            </tr>
          </thead>
          <tbody id="userInfo">
            <% var i=1; objects.forEach(function(data){%>
            <tr
              class="clickable"
              onclick="loadUser('<%=data.id%>')"
              onauxclick="loadUser2('<%=data.id%>')"
              ;
            >
              <td><%=data.userName%></td>
              <td><%=data.userPhone%></td>
              <td><%=data.userEmail%></td>
            </tr>
            <% i++; }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    // var loadTableUser = require(path.join(__dirname, "../assets/loadUser.js"));
    $(document).ready(function () {
      $("#navBar").load("/navbar");
      // $("#userInfo").load("/assets/loadUserTable.html");
    });
    $(document).ready(function () {
      $("#table").DataTable({
        language: {
          url: "//cdn.datatables.net/plug-ins/1.11.4/i18n/es_es.json",
        },
        pageLength: 25,
      });
    });
  </script>
</html>
